<div class="row align-items-center">
    <div class="col-md-8">
        <img class="ifbaCrest" src="images/crest.png">
        <h1>IFBA Club Directory</h1>
    </div>
    <% if (user) { %>
        <div id="logout" class="col-md-4">
        <button>Logout</button>
        </div>
    <% } %>
</div>