<div class="row align-items-center">
    <div class="col-md-8">
    <h1>IFBA Officer Portal</h1>
    </div>
    <% if (user) { %>
        <div id="logout" class="col-md-4">
        <button>Logout</button>
        </div>
    <% } %>
</div>