<form action="/users/login" method="POST" >
    <label for="username">Username</label>
    <br>
    <input type="text" id="username" name="username" autocomplete="username" placeholder="username"></input>
    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" autocomplete="password" placeholder="password"></input>
    <br>
    <br>
    <button type="submit" value="login">Login</button>
</form>