.ifbaCrest {
    float: left;
    margin: 1rem 1rem 0 0;
    max-width: 50px;
    max-height: 50px;
}

#logoutBtn {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    #logoutBtn {
        text-align: right;
    }
} 

.dropdownContainer {
    display: flex;
    flex-direction: column;
}

#regionSelect {
    width: 100%;
}


@media only screen and (max-width: 768px) {
    #regionSelect {
        margin-top: 15px;
    }
} 

@media only screen and (min-width: 768px) {
    .dropdownContainer {
        flex-direction: row;
    }

    #regionSelect {
        width: 150px;
    }
} 

#regionVP {
    margin-left: 15px;
}

#clubList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.club {
    margin: 10px;
    font-size: 16px;
}

.shadow {
    box-shadow: 5px 5px 5px rgb(194, 194, 194);
    -moz-box-shadow: 5px 5px 5px rgb(194, 194, 194);
    -webkit-box-shadow: 5px 5px 5px rgb(194, 194, 194);
}

.contact {
    font-size: 15px;
}

.social {
    display: flex;
    flex-direction: row;
}

.fab {
    font-size: 25px;
    margin-right: 12px;
}

.btn {
    margin-top: 7px;
}

.modal-header .fa-edit {
    margin-top: 5px;
    margin-left: 10px;
}

.modal-header button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.modal-edit-form {
    margin-left: 10px;
}

.modal-edit-form input {
    border: 1px solid rgb(200, 200, 200);
    width: 250px;
}

@media only screen and (max-width: 768px) {
    .modal-edit-form input {
        width: 100%;
    }
}

.modal-edit-form .facebook-input {
    width: 100%;
}

footer {
    text-align: center;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-instagram {
    color: #fff;
    font-size: 21px;
    padding: 2px 3px;
    background: linear-gradient(to top right, #fdf497, #fdf497, #fd5949, #d6249f, #285AEB);
}