#logoutBtn {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    #logoutBtn {
        text-align: left;
    }
} 

#regionSelect {
    margin-top: 20px;
    width: 150px;
}

#clubList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.club {
    margin: 10px;
    font-size: 16px;
}

.shadow {
    box-shadow: 5px 5px 5px rgb(194, 194, 194);
    -moz-box-shadow: 5px 5px 5px rgb(194, 194, 194);
    -webkit-box-shadow: 5px 5px 5px rgb(194, 194, 194);
}

.contact {
    font-size: 15px;
}

.social {
    display: flex;
    flex-direction: row;
}

.fab {
    font-size: 25px;
    margin-right: 12px;
}

.btn {
    margin-top: 7px;
}

footer {
    text-align: center;
}