#logoutBtn {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    #logoutBtn {
        text-align: left;
    }
} 

.dropdownContainer {
    display: flex;
    flex-direction: row;
}

#regionSelect {
    width: 150px;
}

#regionVP {
    margin-left: 15px;
}

#clubList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.club {
    margin: 10px;
    font-size: 16px;
}

.shadow {
    box-shadow: 5px 5px 5px rgb(194, 194, 194);
    -moz-box-shadow: 5px 5px 5px rgb(194, 194, 194);
    -webkit-box-shadow: 5px 5px 5px rgb(194, 194, 194);
}

.contact {
    font-size: 15px;
}

.social {
    display: flex;
    flex-direction: row;
}

.fab {
    font-size: 25px;
    margin-right: 12px;
}

.btn {
    margin-top: 7px;
}

footer {
    text-align: center;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-instagram {
    color: #fff;
    font-size: 21px;
    padding: 2px 3px;
    background: linear-gradient(to top right, #fdf497, #fdf497, #fd5949, #d6249f, #285AEB);
}